.borderDark {
  border-color: var(--chakra-colors-brand-ajCheez);
}

.borderDark:hover {
  border-color: var(--chakra-colors-brand-ajPurple);
  transition: border-color .2s ease-in;
}

.borderLight {
  border-color: var(--chakra-colors-brand-ajMagenta);
}

.borderLight:hover {
  border-color: var(--chakra-colors-brand-ajPurple);
  transition: border-color .2s ease-in;
}
