.portfolioItemDark {
  border-color: var(--chakra-colors-brand-ajCheez);
  color: var(--chakra-colors-brand-ajCheez);
}

.portfolioItemDark:hover {
  border-color: var(--chakra-colors-brand-ajPink);
  color: var(--chakra-colors-brand-ajPink);
  transition: border-color 0.2s ease-in, color 0.2s ease-in;
}

.portfolioItemLight {
  border-color: var(--chakra-colors-brand-ajPurple);
  color: var(--chakra-colors-brand-ajPurpleLvls-400);
}

.portfolioItemLight:hover {
  border-color: var(--chakra-colors-brand-ajMagenta);
  color: var(--chakra-colors-brand-ajMagentaLvls-400);
  transition: border-color 0.2s ease-in, color 0.2s ease-in;
}
